{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>fashionrecommend</title>
  <meta name="description" content="あなたに似合うファッションブランドをご提案します" />

</head>

<body>
  <header>
    <ul>
      <li><a href="{% url 'recommend_app:index' %}">トップページ</a></li>
      <li><a href="{% url 'recommend_app:about' %}">概要</li>
    </ul>
  </header> 

  <div class="container">
     {% block body %}{% endblock %}
  </div>

  {% block js %}{% endblock js %}
</body>
</html>